.global_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
}

p {
  font-size: 1rem;
}

form {
  width: 35vw;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
}
form h3 {
  text-align: center;
}
form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
}
.forms_container {
  display: flex;
  flex-direction: column;
}
.forms_container img {
  width: 50%;
  margin: 0 auto;
}
.input_container {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
}
.btn_container button {
  background: var(--amber);
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn_container button:hover{
  filter: brightness(1.05);
  font-weight: bolder;
  transform: scale(1.02);
}

.product_container {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.product {
  width: 30vw;
  min-width: 350px;
  margin-top: 20px;
  min-height: 80px;
  max-height: 20%;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product p {
  cursor: pointer;
}
.product_content {
  color: black;
}
.product_content:nth-child(2){
  color: green;
}

.actn_container {
  display: flex;
  flex-direction: row;
}

.product button {
  background: #eb4034;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.product button:nth-child(1){
  background: blue;
}

.product button:hover {
  filter: brightness(1.2);
}

.product button:active {
  filter: brightness(.7);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.searchbar input{
  width: 100%;
  padding: 1%;
  border: none;
}

footer {
  background-color: var(--amber);
  width: 100%;
  margin: 0;
  padding: 1rem;
  margin-top: 2em;
  text-align: end;
}

footer h1 {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .global_container {
    display: flex;
    flex-direction: column;
    margin: 5vh 5vw;
  }

  .forms_container form {
    width: 100%;
  }
  
  .product_container {
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 0;
    align-self: center;
    width: 100%;
    max-width: 800px;
  }
  .product {
    min-width: 43.33vw;
    width: 100%;
    margin-right: 0px;
    flex-direction: column;
    max-height: none;
  }
  .product p {
    font-size: 1.1rem;
  }
}
